.title{
    font-weight: bold;
}
.subtitle{
    color: blue;
}
.divs a {
    margin: 0;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.location {
    background: #800000;
    color: white;
}
.directive {
    background: rgba(255, 215, 0, 0.25);
    color: white;
}
.directiveSJ {
    background: #EDFCED;
    color: white;
}
.karma {
    background: #C83E25;
    color: white;
}
.routeParams {
    background: #F3F5F7;
    color: black;
}
.third {
    background: darkblue;
    color: white;
}
.page {
    padding: 30px;
}
.page .word {
    font-size: 30px;
    color: #000000;
}
.my-directive-link,
.my-directive-sj-link{
    display: block;
    margin: 5px;
    width: 200px;
    padding: 4px 10px;
    text-decoration: none;
    font-weight: bold;
}
.my-directive-link {
    background: #47ff5e;
}
.my-directive-sj-link {
    background: #55AAFF;
}
.my-directive-link:hover,
.my-directive-sj-link:hover{
    text-decoration: none;
    background: red;
}
