<div ng-show="showLeavePageModal" style="width: 200px; height: 100px; background: orange; position: fixed; box-shadow: 1px 1px 4px rgb(0,0,0);">
    <div style="width: 100%; text-align: center; margin: 10px 0;">Would you leave this page?</div>
    <div style="text-align: center;">
        <div style="width: 50%; height: 20px; background: green; display: inline-block; cursor: pointer;" ng-click="leavePage()">Yes</div>
        <div style="width: 50%; height: 20px; background: red; display: inline-block; cursor: pointer;" ng-click="stayPage()">No</div>
    </div>
</div>